header {
  margin-top: 40px;
}

.animals {
  margin: 0;
  padding: 10px;
}

.animals input {
  background: rgb(167, 167, 167);
}

.animals img {
  height: 300px;
  border-radius: 50px 50px 0px 0px;
  opacity: 0.8;
}

body {
  background: url(../img/wood.jpg) repeat;
}